[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.6"
